import React from "react";
import { connect, history } from "umi";
import { PageHeaderWrapper } from "@ant-design/pro-layout";
import { Space, Button } from "antd";

const <%= data.name%>Page = (props) => {
  const {dispatch} = props;
  const fetchData = fields => {
    return ProGetList({
      dispatch,
      url:"",
      orderByName:"",
      isAsc:false,
      searchInfo:{}
    })
  }
  const columns = [
    {
      title: "仓库名称",
      dataIndex: "WarehouseName",
      key: "WarehouseName",
      width: 150,
    },
    {
      title: "仓库Id",
      dataIndex: "WarehouseId",
      key: "WarehouseId",
      hidden: true,
    },
    {
      title: "操作",
      dataIndex: "action",
      key: "action",
      render: (_, record) => {
        return (
          <Space>
            <Button
              onClick={() => {
                history.push({
                  pathname: "",
                  state: {
                    Id: record.Id,
                  },
                });
              }}
            >
              查看
            </Button>
            <Button
              onClick={() => {
                history.push({
                  pathname: "",
                  state: {
                    Id: record.Id,
                  },
                });
              }}
            >
              修改
            </Button>
          </Space>
        );
      },
    },
  ];

  return (
    <PageHeaderWrapper title="<%= data.name%>">
      <ResizeableTable
        rowKey="Id"
        request={(fields) => fetchData(fields)}
      />
    </PageHeaderWrapper>
  );
};

export default connect(({<%= data.lowerName %>}) => ({
  <%= data.lowerName %>
}))(<%= data.name %>Page)
